/* Global */
:root {
  /* Color */
  --color-white: #fff;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* Typography */
